<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
					   integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
					   crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#"> Supplier Page</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/supplier}">Supplier Store</a>
      </li>
      
    </ul>
  </div>
</nav>
<br>

<div class="container">
		<div class="row";>
			<div class="col=lg-6 col-md-6 col-sm-6 container justiy-content-center card ">
				<h1 class=text-center>Create New Supplier</h1>
					<div class="card-body">
						<form th:action="@{/supplier}" th:object= "${supplier}" method="POST">
							<div class="form-group">
									<label>Supplier Names</label>
									<input type:"text" 
									name="supplier_name"
									th:field="*{supplier_name}" 
									class="form-control"
									placeholder="Enter the Supplier Name" />
									</div>
						   
						   <div class="form-group">
									<label>Supplier Phone</label>
									<input type:"text" 
									name="supplier_phone"
									th:field="*{supplier_phone}" 
									class="form-control"
									placeholder="Enter the Supplier phone" />
									</div>
									
									<div class="form-group">
									<label>Supplier Email</label>
									<input type:"text" 
									name="supplier_email"
									th:field="*{supplier_email}" 
									class="form-control"
									placeholder="Enter the Supplier Email" />
									</div>
									
									
						   <div class="form-group">
									<label>Retailer Id</label>
									<input type:"text" 
									name="retailer"
									th:field="*{retailer}" 
									class="form-control"
									placeholder="Enter the Retailer Id" />
									</div>
									
									
									<div class="box-footer">
										<button type="submit" class="btn btn-primary">Submit</button>
									
									</div>
									</form>
					
					
				</div>
					</div>
		
		</div>
	
	</div>
</body>
</html>