<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Customer Page</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
					   integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
					   crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#"> Customer Store </a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/customer}">Customer Store</a>
      </li>
      
    </ul>
  </div>
</nav>
<br>

<div class="container">
		<div class="row">
			<div class="col=lg-6 col-md-6 col-sm-6 container justiy-content-center card ">
				<h1 class=text-center>Update Customer</h1>
					<div class="card-body">
						<form th:action="@{/customer/{id} (id=${customer.customer_id})}" th:object="${customer}" method="POST">

							<div class="form-group">
							<label>Customer Name</label>
									<input type:"text" 
									name="customer_name"
									th:field="*{customer_name}" 
									class="form-control"
									placeholder="Enter the Customer Name" />
									</div>
						   
						   <div class="form-group">
							<label>Customer phone</label>
									<input type:"text" 
									name="customer_phone"
									th:field="*{customer_phone}" 
									class="form-control"
									placeholder="Enter the Customer phone" />
									</div>
									
									<div class="form-group">
							<label>Customer email</label>
									<input type:"text" 
									name="customer_email"
									th:field="*{customer_email}" 
									class="form-control"
									placeholder="Enter the Customer email" />
									</div>
									
									
									
									<div class="box-footer">
										<button type="submit" class="btn btn-primary">Submit</button>
									
									</div>
									</form>
					</div>
					</div>
					</div>
                      </div>
</body>
</html>