<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Supplier Details</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
					   integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
					   crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Supplier Page</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/supplier}">Suppliers View</a>
      </li>
    </ul>
  </div>
</nav>


	<div class="container">
		<div class="row">
			<h1> List of Supplier</h1>
		</div>
		
		<div class="row"></div>
			<div class="col-lg-3">
				<a th:href="@{/supplier/new}" class="btn btn-primary btn-sm mb-3"> Add Supplier</a> 
			
			</div>
			
		<table class="table table-striped table-bordered">
			<thead class="table-dark">
			
				<tr>
					<th> Supplier Name</th>
					<th> Supplier phone</th>
					<th> Supplier Email</th>
					<!-- <th> Retailer Id </th> -->
					<th> Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr  th:each= "supplier: ${listsupplier}">
					<td th:text="${supplier.supplier_name}"></td>
					<td th:text="${supplier.supplier_phone}"></td>
					<td th:text="${supplier.supplier_email}"></td>
					<!--  <td th:text="${supplier.retailer}"></td> -->
					<td>
					<a th:href ="@{/supplier/edit/{id} (id=${supplier.supplier_id})}" class="btn btn-primary">Update</a>
						<a th:href ="@{/deleteSupplier/{id} (id=${supplier.supplier_id})}" class="btn btn-danger">Delete</a>
						
						</td>
				 </tr>

			</tbody>
		</table>

		</div>

</body>
</html>